<style>
  .uk-modal-close-full {
    background: transparent;
}
</style>

<div class="uk-section uk-section-secondary">
  <div class="uk-width-1-1"> 
    <div class="uk-container uk-container-default">
      <div uk-grid>
        <div class="uk-width-1-2">
          {{#link 'help_center'}}{{help_center.name}}{{/link}}
        </div>
        <div class="uk-width-1-2 uk-text-right">
          {{#if alternative_locales}}
            <a class="uk-button uk-button-default" href="#language-modal" uk-toggle>{{current_locale.name}}</a>
            <div id="language-modal" class="uk-modal-full" uk-modal>
              <div class="uk-modal-dialog uk-background-secondary">
                  <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                  <div class="uk-flex-middle uk-text-center" uk-grid uk-height-viewport>
                      <div class="uk-width-1-1 uk-padding-large">
                        <ul class="uk-nav uk-nav-primary">
                          {{#each alternative_locales}}
                            <li>
                              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                                {{name}}
                              </a>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                  </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('form.search #query').addClass( "uk-search-input" );
    $('.search').prepend("<span uk-search-icon></span>");
  });
</script>
