<style>
  .tm-header {
    left: 0;
    right: 0;
}

.uk-nav>li>button {
    padding: 5px 0;
    display: block;
    border: none;;
    background-color: transparent;
    text-align: left;
    color: #999;
}
</style>

<div class="tm-header uk-position-absolute">
  <div class="uk-navbar-container uk-sticky uk-navbar-transparent uk-light">
    <div class="uk-container">
      <nav uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">
              {{#link 'help_center'}}
                <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
              {{/link}}
            </a>

            <ul class="uk-navbar-nav">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li>{{link 'community'}}</li>
                <li>{{link 'new_request' class='submit-a-request'}}</li>
                {{#if signed_in}}
                  <li>
                    {{!-- {{user_avatar class="uk-border-circle"}} --}}
                    <a href="#">{{user_name}}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li>{{link "my_activities" role="menuitem"}}</li>
                            <li>{{my_profile role="menuitem"}}</li>
                            <li>{{change_password role="menuitem"}}</li>
                            <li>{{link "sign_out" role="menuitem"}}</li>
                        </ul>
                    </div>
                  </li>
                {{else}}
                  <li>
                    {{#link "sign_in" class="sign-in"}}
                      {{t 'sign_in'}}
                    {{/link}}
                  </li>
                {{/if}}
            </ul>

        </div>
      </nav>
    </div>
  </div>
</div>